.schoolcalendar{
    width: 100%;
    padding: 25px;
    background-color: white;
    border-radius: 25px;
    /* overflow: scroll; */

}
.css-1rtg91x-MuiDateCalendar-root{
    width: 300px !important;
}