.dashfood{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}
.dashfood h2{
    font-size: 16px;
    font-weight: 600;
    
}
.foodbox h3{
    font-size: 14px;
    font-weight: 600;
}
.foodbox p{
    font-size: 12px;
    color: #A098AE;
}
.foodboxdiv{
    display: flex;
    flex-direction: column;
    gap: 15px;

}
.foodbox{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.foodbox img{
    height: 120px;
    border-radius: 12px;
}