
.contacts{
background-color: white;
border-radius: 12px;
padding: 12px;
width: 100%;
display: flex;
flex-direction: column;
gap: 20px;
height: fit-content;
min-height: 540px;
}
.contactsearch{
    border: 1px solid rgba(160, 152, 174, 1);
}
.contactmsgperson{
    padding: 5px 0px;
}
.contactdashbordprofile{
    width: 290px;
}
.plancard{
    width: 90%;
    padding: 20px;
    background-color: rgba(77, 68, 181, 1);
    margin: 0px auto;
    border-radius: 12px;
    background-image: url('../../assets/admincover2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.tdots{
    position: absolute;
    top: 18px;
    right: 12px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 18px;
}
.plancard ul{
    margin-top: 20px;
    padding-left: 20px;
}
.upgradebtn{
    margin-top: 10px;
    border-radius: 20px;
    border: none;
    color: rgba(48, 57, 114, 1);
    background-color: rgba(255, 255, 255, 1);
    width: 150px;
    height: 40px;
    font-weight: 600;
}