.messages{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}
.msghead{
padding: 10px 0px;
}
.msgbody{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.msgbox{
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 20px 0px;
    border-bottom: 1px solid black;
}
.msgboxwidth {
    width: auto;
}
.msgboxcontent{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.msgname{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: #303972;
    font-weight: 400;
}

.msgchat{
    width: 160px;
    font-size: 12px;
    color: #A098AE;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.msgbody .viewmore{
    color: #4D44B5;
    padding: 20px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 30px;
    border: none;
    background-color: #4D44B51A;
}