.home{
    display: flex;
    width: 100%;
}
.homecontent{
    width: 100%;
    /* height: 100vh; */
    background-color: #F3F4FF;
}

.sidenav{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 270px;
    min-height: 100vh;
    background-color: #4D44B5;
    padding: 30px 0px 0px 30px;
}

.mobnav1{
    display: none;
    position: absolute;
}
.mobnav{
    position: absolute;
    display: none;
    background-color: #4D44B5;
    z-index: 1;
    width: 180px;
    height: 100%;
    padding: 10px 0px 10px 10px;
}
.mobnav .navlogo{
    position: absolute;
    top: 15px;
    left: 15px;

}


/* .navlogo2{
   
} */
.mobnavlist{
    /* position: absolute; */
    /* left: 20px; */
    background-color: #4D44B5;
    /* top: 50px; */
    /* height: 100vh; */
}
.mobnavlist li{
  
    cursor: pointer;
    display: flex;
    gap: 15px;
    align-items: center;
    color: #C1BBEB;
    font-size: 16px;
    font-weight: 500;
    padding: 16px 20px;
}


.navlogo{
    /* min-width: 100vw; */
padding: 15px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    /* padding: 10px; */
    /* justify-content: center; */
    gap: 10px;
}
.navlogo img{
    width: 40px;
    height: 45px;
    border-radius: 16px;
    
}
.navlogo h2{
    color: white;
}

.sidenav ul{
    list-style: none;
}
.icon{
    font-size: 30px;
}
.sidenav ul li{
    cursor: pointer;
    display: flex;
    gap: 15px;
    align-items: center;
    color: #C1BBEB;
    font-size: 16px;
    font-weight: 500;
    padding: 16px 20px;
    text-decoration: none;
      /* background-color: #C1BBEB; */
    border: 50px 0px 0px 50px;
}
.sidenav ul li:hover{
 
    color: white;
    border-radius: 40px 0px 0px 40px;
    font-size: 16px;
    font-weight: 600;
}
.navselectedstyle{
    background-color: rgba(243, 244, 255, 1);
    color: rgba(77, 68, 181, 1) !important;
    border-radius: 40px 0px 0px 40px;
}
.sidenav ul li a{
    text-decoration: none;
    color: inherit;
    &.active{
        border: none;
    }
}
.sidenavfootcontent{
    font-size: 12px;
    font-weight: 600;
    color: white;
}
.sidenavfootcontent2{
    color: white;
    font-weight: 400;
    font-size: 12px;
}
.sidenavfootcontent2 span{
    color: red;
}




@media screen and (max-width: 862px){

    .teachercard {
        max-width: 240px;
    }
}



@media screen and (max-width: 780px) {
    .teachercard {
        max-width: 280px;
    }
    .navlogo{
        min-width: 100vw;}
.sidenav{
    width: 60px;
    display: none;
}
.profilemob {
    display: flex !important;
}
.mobnav, .mobnav1{
    display: flex;
    height: auto;
}

.dashbordprofile{
    /* width: 0px; */
    display: none;

}
.dashboardcontent{
    min-width: 100%;
    padding: 60px 15px 15px 15px !important;
}

.student, .finance, .teacher, .pattern1{
    padding: 60px 15px 15px 15px !important;
}
}
@media screen and (max-width: 620px){

    .teachercard {
        max-width: 290px;
        /* justify-content: center ; */
    }
    .teachercarddiv{
        justify-content: center !important;
    }
}



@media screen and (max-width: 502px){
    .teacher .pegination{
        justify-content: center;
    }
}
