button, .clicking{
    cursor: pointer;
}
.loginbody{
    display: flex;
    justify-content: center;
    position: relative;
    /* background-image: url('../../assets/my-image.png');
    background-repeat: no-repeat;
    background-size:100% 100% ; */
    height: 100vh;
    flex-direction: column;
    /* background-color: cornflowerblue; */
    background-color: rgba(48,48,214,0.8940826330532213) ;
    
}

.companylogo{
    color: white;
    padding: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.companylogo img{
    width: 50px;
}

.boxstyle{
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: rgba(52, 32, 235, 0.3);
    transform:rotate(59deg);
    border-radius: 73% 27% 27% 73% / 34% 57% 43% 66% ;
    left: auto;
    top: auto;
    z-index: -1; 
    animation-name: rotateanima;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes rotateanima {
    0% {transform: rotate(1deg);}
    100% {transform: rotate(360deg);}
}








.login{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    /* background-image: url('../../assets/Dashboardimg1.png'); */

    /* backdrop-filter:blur(100px) ; */
    /* filter: blur(1px);
    filter: grayscale(10); */
    /* background: linear-gradient(217deg, rgba(77, 68, 181, 1), rgba(184, 124, 124, 0) 70.71%),
            linear-gradient(127deg, rgba(193, 187, 235, 1), rgba(156, 198, 156, 0) 70.71%),
            linear-gradient(336deg, #021526, rgba(110, 110, 187, 0) 70.71%); */
}
.loginbox{
    position: relative;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    width: 500px;
    height: 500px;
    transform-style: preserve-3d;
    /* background-color: red; */
    border-radius: 73% 27% 27% 73% / 34% 57% 43% 66% ;
    
    /* backdrop-filter: blur(10px); */
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(48,48,214,0.8940826330532213) 41%, rgba(95,215,239,1) 100%);
}
.loginbox div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
}
.loginbox div input{
    border: none;
    outline: none;
    padding: 10px 10px;
    /* border-radius: 20px; */
    border-radius: 6% 27% 27% 12% / 35% 57% 47% 66% ;
    /* width: 80%; */
    box-shadow: 2px 5px 10px rgba(193, 187, 235, 1);
}
.loginbox button{
    box-shadow: 5px 5px 5px rgba(77, 68, 181, 1);
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 73% 27% 27% 73% / 34% 57% 43% 66% ;
    border: none;
    /* background-color: rgba(77, 68, 181, 1); */
    /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(48,48,214,0.8940826330532213) 41%, rgba(95,215,239,1) 100%); */
    color: white;
    /* border-radius: 50px; */
background: linear-gradient(225deg, rgba(2,0,36,1) 0%, rgba(48,48,214,0.8940826330532213) 41%, rgba(95,215,239,1) 100%) ;
box-shadow:  -20px 20px 60px rgb(14, 199, 236) ,
             20px -20px 60px rgba(95,215,239,1) ;

}
.loginbox button:hover{

    transform: scale(1.1,1.1);
}
.loginbox h1, .loginbox label{
    text-shadow: 1px 1px 5px;
}