.unpaidstudent{
    width: 100%;
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    font-size: 18px;
    font-weight: 600;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none; 
}
.unpaidstudentbox{
    min-width: 870px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    border-radius: 12px;
    padding: 20px 0px;
    gap: 15px;
}
.unpaidcontent{
    color: #303972;
    display: flex;
    padding: 30px 0px;
}
.namediv{
    display: flex;
    gap: 20px;
    width: 30%;
    align-items: center;
}
.namediv img{
    width: 48px;
}
.name{
    font-size: 18px;
    font-weight: 600;
}
.standardbox{
    display: flex;
    gap: 10px;
    align-items: center;
}
.standardbox img{
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
.standard{
    display: flex;
    flex-direction: column;
    color: #A098AE;
    font-size: 14px;
    font-weight: 400;
}
.standard span{
    font-size: 18px;
    font-weight: 600;
    color: #303972;
}
.idnum{
    color: #4D44B5;
}
.unpaidstudentbox button{
    width: 40px;
    font-size: 20px;
    padding: 10px;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    background-color: white;
    color: #A098AE;
}


.pegination{
    display: flex;
    justify-content: space-between;
    min-width:870px;
    color: rgba(160, 152, 174, 1);
    font-size: 12px;
    font-weight: 400;
}
.peginationbtndiv{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.peginationbtndiv button{
    font-size: 18px;
    background-color: white ;
    border: 1px solid rgba(160, 152, 174, 1);
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    border-radius: 50%;

}
.arrowbtn{
    border: none;
    font-size: 16px;
}



.unpaidstudent::-webkit-scrollbar {
    display: none;
}
