.teacher {
    width: 100%;
    min-height: 100vh;
    padding: 0px 30px;
    background-color: #F3F4FF;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    

    /* justify-content: space-between; */
}

.Teacherhead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0px 20px; */
}


.searchbardiv .inputdiv {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 30px;
    width: 300px;

}

.searchbardiv .inputdiv input {
    border: none;
    outline: none;
    width: 100%;
}

.newoldfilter {
    display: flex;
    gap: 15px;

}

.newoldfilter select {
    color: #4D44B5;
    padding: 10px 15px;
    border: 2px solid #4D44B5;
    border-radius: 30px;
    /* font-size: 1px ; */
    font-weight: 600;
}

.newoldfilter button {
    /* font-size: 18px ; */
    font-weight: 600;
    padding: 10px 15px;
    color: white;
    border: none;
    border-radius: 30px;
    background-color: #4D44B5;
}



.teachercarddiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between ;
    gap: 30px;
}
.teachercarddiv button{
    font-size: 20px;
    border: none;
    /* background: none; */
    padding: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.teachercard{
    width: 260px;
    height: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    position: relative;
    padding: 20px;
    border-radius: 20px;
}
.tcardthreedot{
    background: none;
    position: absolute;
    top: 5px;
    right: 5px;
}
.teachercard img{
    width: 100px;
    height: 100px;
}
.teachercardname{
    color: #303972;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    text-align: center;
}
.teachercardname span{
    font-size:16px;
    font-weight: 400;
    color: #A098AE;
}
.callmaildiv{
  
    display: flex;
    gap: 10px;
}
.callmaildiv button{
    color: rgba(255, 255, 255, 1);
    background-color: rgba(77, 68, 181, 1);
}
.teachercard .contacticon {
    font-size: 20px;
   
}

.teachercard .contacticon:hover {
    transform: scale(1.5, 1.5);
 
}





.teacher .pegination{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 20px;
    gap: 10px;
    /* justify-content: center; */
    min-width: 280px;
}