.dashboardsec{
    display: flex;
    width: 100%;
    /* margin-left: 20px; */
}
.dashboardcontent{
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 35px 35px;
    background-color: #F3F4FF;
}
.dashbordprofile{
    width: 260px;
    background-color: white;
}
.dheader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    
}
.searchbox{
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 30px;
}
.searchbox input{
    outline: none;
    border: none;  
    width: 100%;
}

.dashstatus{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;   
    border-radius: 20px;
    background-color: white;
}
.dashstatus .status{
    display: flex;
    padding: 20px;
    gap: 10px;
    align-items: center;
}
.dashstatus .status .spanicon{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    
    font-size: 24px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.spanicon1{
    background-color: #4D44B5;
}
.spanicon2{
    background-color: #FB7D5B;
}
.spanicon3{
    background-color: #FCC43E;
}
.spanicon4{
    background-color: #303972;
}

.status h5{
    font-size: 12px;
    display: flex;
    flex-direction: column;
    color: #A098AE;
    
}

.schoolfc{
    display: flex;
    gap: 20px;
}




@media only screen and (max-width:1050px){
    .schoolfc{
        flex-wrap: wrap;
    }

}
@media only screen and (max-width:750px){

}